@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff6900;
  --color-secondary: #0d1b2a;
  --color-accent: #ff690066;
  --color-accent-content: #fff;
  --color-neutral: #f5f5f5;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #ff6900;
  --color-secondary: white;
  --color-accent: #ff690066;
  --color-accent-content: black;
  --color-neutral: #545454
}

.header-menu .active {
  border: 2px solid #ff6900;
  color: #ff6900;
  padding: 4px 8px;
  @apply rounded-full
}

.drop-menu .active {
  background-color: #ff690066;
}